.container {
   max-width:60rem;
   background-color: rgb(18, 40, 40);
   padding:3rem 3rem;
   margin:0 auto 7rem auto;
}

.quote {
   color:white;
   font-size:2.8rem;
   width:auto;
   height:auto;
}



.author {
   font-size:1.5rem;
   color:rgba(76, 245, 237, 0.455);
}